.cards {
  padding: 1rem;
  background: #448aff;
}

h1 {
  text-align: center;
  color:white;
}

.h1_black{
  color: black;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 50%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
}




.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  transform: scale(1);
}

.cards__item__img:hover {
  transform: scale(0.8);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: white;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 80px;
    display: block;
    width: 100px;
    height: 100px;
    object-fit: contains;
    transition: all 0.2s linear;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

/* ------------Card Payment------------------- */


.cards_payment {
  padding: 1rem;
  background: white;
}
.cards__items_payment {
  margin-bottom: 24px;
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}
.cards_payment_text {
  text-align: center;
  color:black;
}

.cards__container_payment {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.cards__wrapper_payment {
  position: relative;
  margin: 0px 0 45px;
}

.cards__item__img_payment {
  transform: scale(0.6);
  margin-top:-80px;
}


.cards__item__pic-wrap_payment::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  right: 143px;
  margin-right:100px;
  padding: 6px 50px;
  border-radius: 10px;
  max-width: calc((100%) - 60px);
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.h2_grey{
  color: #9292a2;


}
/* ------------Card How It Work------------------- */

.cards_work {
  padding: 1rem;
  background: rgb(213, 227, 243);
}


/* ---------------- CARD REGISTER ------------------ */
.cards_login {
  padding:1rem;
}
.cards__login__pic-wrap {
  position: relative;
  padding-top: 50%;
  size:1px;
  overflow: hidden;
}


.cards__login__link {
  display: flex;
  flex-flow: column;
  width: 40%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.h1_grey{
  color: rgb(87, 87, 87);
  padding-top:0.8rem;
}